.home-container{
  display: flex;
  flex-direction: column;
  width: 98vw;
  height: 78vh;
  align-items: center;
  justify-content: center;
  margin-top: 68px;
}

.headline-container{
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
  justify-content: center;
}

.headline{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 30%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  rotate: -20deg;
}

h1{
  text-align: center;
  color: rgba(240, 248, 255, 0.647);
}
h3{
  text-align: center;
}
p{
  text-align: center;
}

.project-showcase{
  padding: 1rem;
  margin: 1rem;
  padding-top: 8rem;
  max-width: 99vw;
}

.projects{
  margin: 3rem;
  padding: .25rem;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video{
  max-height: 60vh;
  max-width: 80vw;
}


